= form_for @hobby do |f|
  - if @hobby.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hobby.errors.count, "error")} prohibited this hobby from being saved:"
      %ul
        - @hobby.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
