.container
  = nested_form_for @cv, :html => {:multipart => true} do |f|
    - if @cv.errors.any?
      #error_explanation
        %h2= "#{pluralize(@cv.errors.count, "error")} prohibited this cv from being saved:"
        %ul
          - @cv.errors.full_messages.each do |msg|
            %li= msg
    .border-form-div
      %h3 This is Cv Creator:
    .big-box
      %center
        .actions
          = f.submit 'Save this CV', class:'btn btn-primary btn-lg', style:'width:200px'
    %center
      - if @cv.user.nil?
        = f.link_to_add "Add a user", :user, cv:@cv, class:'btn btn-success', style:'margin-top:5px'
      = f.fields_for :user do |user_form|
        .container{id:'userconatiner'}
          .col-md-5{style:'float:left'}
            %h3 1. Tell something about you    
            = user_form.label :avatar, 'Upload your Photo'
            = user_form.file_field :avatar
            %br
            = user_form.label :first_name
            = user_form.text_field :firstname, autofocus: true, class:'form-control', placeholder:'Enter your first name'
            %br
            = user_form.label :last_name
            = user_form.text_field :lastname, autofocus: true, class:'form-control', :placeholder => 'Enter your last name'
          .col-md-5{style:'float:right'}
            %br
            = user_form.label :phone
            = user_form.text_field :phone, autofocus: true, class:'form-control', placeholder:'Enter your phone number'
            %br
            = user_form.label :email
            = user_form.text_field :email, autofocus: true, class:'form-control', placeholder:'Enter your E-mail'
            %br
            = user_form.label :linkedin
            = user_form.text_field :linkedin, autofocus: true, class:'form-control', placeholder:'Enter your Linkedin profil'
            %br
            = user_form.link_to_remove "Remove this user", class:'btn btn-danger', style:'margin-top:5px'
      
      .left-box
        %h3 2. Tell something about your education
        = f.fields_for :educations do |education_form|
          %hr
          = education_form.label :name
          = education_form.text_field :name, autofocus: true, class:'form-control', placeholder:'Enter Name of School'
          %br
          = education_form.label :city
          = education_form.text_field :city, autofocus: true, class:'form-control', placeholder:'Enter City'
          %br
          = education_form.label :level, 'Level of School'
          = education_form.select(:level, ['Primary School','Middle School','High School','Bachelor','Master'],{}, {style:'width:100%'})
          %br
          = education_form.link_to_remove "Remove this education step", class:'btn btn-danger', style:'margin-top:10px'
        = f.link_to_add "Add a education level", :educations, cv:@cv, class:'btn btn-success', style:'margin-top:5px'  
        
      .right-box
        %h3 3. Tell something about your skills
        = f.fields_for :skills do |skill_form|
          %hr
          = skill_form.label :name
          = skill_form.text_field :name, autofocus: true, class:'form-control', placeholder:'Enter your first name'
          %br
          = skill_form.label :level, 'Level of Skill (Scale 1-5)'
          = skill_form.select(:level, ['1: Beginner','2: Elementary','3: Intermidiate','4: Advanced','5: Very Advanced'],{}, {style:'width:100%'})
          %br
          %br
          = skill_form.label :skill_type, 'Typeof Skill'
          = skill_form.select(:skill_type, ['Profesional','Personal'],{}, {style:'width:100%'})
          %br
          %br
          = skill_form.link_to_remove "Remove this skill", class:'btn btn-danger', style:'margin-top:5px'
        = f.link_to_add "Add a skill", :skills, cv:@cv, class:'btn btn-success', style:'margin-top:5px'
        
      .left-box  
        %h3 4. Tell something about your jobs      
        = f.fields_for :jobs do |job_form|
          %hr
          = job_form.label :name, 'Name of Company'
          = job_form.text_field :name, autofocus: true, class:'form-control', placeholder:'Enter name of Company'
          %br
          = job_form.label :city, 'City of Company'
          = job_form.text_field :city, autofocus: true, class:'form-control', placeholder:'Enter city of Company'
          %br
          = job_form.label :job_tittle
          = job_form.text_field :jobtittle, autofocus: true, class:'form-control', placeholder:'Enter your job tittle in this Company'
          %br
          = job_form.label :start_date,'When You start this job?'
          = job_form.date_select :start_date, autofocus: true, class:'form-control'
          %br
          = job_form.label :end_date, 'When You end this job?', style:'margin-right:5px'
          = job_form.date_select :end_date, autofocus: true, class:'form-control'
          %br
          = job_form.link_to_remove "Remove this job", class:'btn btn-danger', style:'margin-top:5px'
        = f.link_to_add "Add a job", :jobs, cv:@cv, class:'btn btn-success', style:'margin-top:5px'

      .right-box
        %h3 5. Tell something about your hobbies
        = f.fields_for :hobbies do |hobby_form|
          %hr
          = hobby_form.label :name
          = hobby_form.text_field :name, autofocus: true, class:'form-control', placeholder:'Enter your hobby'
          %br
          = hobby_form.link_to_remove "Remove this hobby", class:'btn btn-danger', style:'margin-top:5px'
        = f.link_to_add "Add a hobby", :hobbies, cv:@cv, class:'btn btn-success', style:'margin-top:5px'
      
      .left-box
        %h3 6. Add more information about you
        = f.fields_for :about do |about_form|
          = about_form.text_area :description, rows:7, cols:20, autofocus: true, class:'form-control', placeholder:'Enter some extra information'
          %br
          = about_form.link_to_remove "Remove this description", class:'btn btn-danger', style:'margin-top:5px'
        - if @cv.about.nil?
          = f.link_to_add "Add a note about yourself", :about, cv:@cv, class:'btn btn-success', style:'margin-top:5px'
      
