= nested_form_for @cv do |f|
  - if @cv.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cv.errors.count, "error")} prohibited this cv from being saved:"
      %ul
        - @cv.errors.full_messages.each do |msg|
          %li= msg
          
  = f.fields_for :user do |user_form|
    = user_form.text_field :firstname
    = user_form.text_field :lastname
    = user_form.link_to_remove "Remove this user"
  - if @cv.user.nil?
    = f.link_to_add "Add a user", :user, cv:@cv
           
  = f.fields_for :jobs do |job_form|
    = job_form.text_field :name
    = job_form.text_field :city
    = job_form.text_field :jobtittle
    = job_form.text_field :start_date
    = job_form.text_field :end_date
    = job_form.link_to_remove "Remove this job"
  = f.link_to_add "Add a job", :jobs, cv:@cv
  
  = f.fields_for :educations do |education_form|
    = education_form.text_field :name
    = education_form.text_field :city
    = education_form.text_field :level
    = education_form.link_to_remove "Remove this education level"
  = f.link_to_add "Add a education level", :educations, cv:@cv
  
  = f.fields_for :skills do |skill_form|
    = skill_form.text_field :name
    = skill_form.text_field :level
    = skill_form.text_field :type
    = skill_form.link_to_remove "Remove this skill"
  = f.link_to_add "Add a skill", :skills, cv:@cv
  
  = f.fields_for :hobbies do |hobby_form|
    = hobby_form.text_field :name
    = hobby_form.link_to_remove "Remove this hobby"
  = f.link_to_add "Add a hobby", :hobbies, cv:@cv
  
  = f.fields_for :about do |about_form|
    = about_form.text_field :description
    = about_form.link_to_remove "Remove this description"
  = f.link_to_add "Napisz kilka słów o sobie", :about, cv:@cv
  %button.btn.btn-danger{:type => "button"} Left
  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      Dropdown
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li
        %a{:href => "#"} Separated link
  .actions
    = f.submit 'Save'
