.container
  .big-box
    %table.table
      %tbody
        %center
          %h4 Oto lista wszystkich CV
        %tr
          %td Nr Cv
          %td.manage_button Opcje
        - @cvs.each do |cv|
          %tr
            %td= cv.id
            %td.manage_button
              .btn-group
                .btn.btn-custom.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  Zarządzaj
                  %span.caret
                - if cv.id == 1
                  %ul.dropdown-menu{:role => "menu"}
                    %li= link_to 'Pokaż CV', cv
                - else
                  %ul.dropdown-menu{:role => "menu"}
                    %li= link_to 'Pokaż CV', cv
                    %li= link_to 'Edytuj', edit_cv_path(cv)
                    %li= link_to 'Usuń', cv, :method => :delete, :data => { :confirm => 'Jesteś pewien?' }
    %center   
      = link_to 'Nowe Cv', new_cv_path, class:'btn btn-success btn-lg'
  